doctype html
html(lang='en')
    head
        script(src="/static/log.js")
        script(src="https://unpkg.com/feather-icons")
        script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
        style
            include styles/reset.css
            include styles/index.css
            include styles/header.css
            include styles/nav.css
            include styles/footer.css
        meta(
            name="viewport" 
            content="width=device-width, initial-scale=1.0"
            )
    body
        // navbar
        include header.pug

        // store specific nav bar
        include store-nav.pug


        
        div.heroContainer
            // title from desc service
            div#Title
            
            div.hero
                // image service
                div#images

                // price service
                div#PriceAndPromotion
        
        // Image carousel
        div#carousel

        // system service
        div#Overview

        // desc service
        div#desc

        // related content service
        div#related

        // traits
        div#Traits

        // other games service
        div#OtherPopularGames

        // system requirements
        div#SystemRequirements

        // legal text
        div#legal

        // footer
        include footer.pug

        script(src=descService)
        script(src=overviewService)
        script(src=traitsService)
        script(src=imageService)
        script(src=priceService)
        script(src=relatedService)
        script(src=otherPopService)
        script(src=legalService)
        script.
            feather.replace()
        script(src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js")
        script(src="https://kit.fontawesome.com/a076d05399.js")